* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin: 20px 60px 0 60px;
  border-bottom: 2px solid #c8c4c4;
}

.nav-item-bar {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 65px;
  margin-left: 30px;
}

.title {
  font-size: 25px;
  padding-left: 20px;
}

.nav-item {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #057bf9;
}

.nav-item a.active {
  border-bottom: 1px solid;
}

.line {
  width: 1.5px;
  height: 1.5rem;
  margin-left: 12px;
  border: solid 1px black;
}

/* rockets.js */
.container {
  margin: 20px 150px 0 120px;
}

.rocket {
  display: flex;
}

.main-part {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-top: 20px;
}

.details {
  font-size: 16px;
  margin-bottom: 14px;
  margin-top: 14px;
  line-height: 25px;
}

.reserve-btn {
  color: white;
  background-color: #057bf9;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
}

.reserved-btn {
  color: rgb(62, 62, 62);
  background-color: #fff;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid black;
}

.img img {
  width: 300px;
  height: 200px;
  margin: 10px 0 10px 0;
}

.loading {
  border: 1px solid #3a86ff;
  border-radius: 8px;
  padding: 12px;
  margin: 220px 190px 20px 190px;
}

.reserved {
  background-color: #05abb4e4;
  padding: 6px;
  margin-right: 12px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
}


.reserve-container {
  display: flex;
  flex-direction: column;
  margin: 20px 60px 0 25rem;
}

.title-r-r {
  font-size: 30px;
  margin-bottom: 20px;
}

.r-rocket {
  border: 1px solid rgb(149, 148, 148);
  border-radius: 2px;
  margin-left: 29rem;
  text-align: start;
  width: 35rem;
  padding: 20px;
}


